@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');
@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{position:relative;overflow-x:hidden;}
.inner{width:100%;max-width:1400px;margin:0px auto;padding-top:90px;}
.row{display: flex;align-items: center;}
.row-column{display:flex;flex-direction: column;}
.justify-content-center{justify-content: center;}
.list-txt > li {position: relative;padding-left:14px;}
.list-txt > li + li{margin-top:4px}
.list-txt > li:before {content:'';display: inline-block;width:4px;height:4px;background:#333;border-radius:50%;position: absolute;top: 10px;left:4px;}

header{position:fixed;left:0;top:0;z-index: 999;width:100%;border-bottom:1px solid rgba(255,255,255,0.1)}
header.fixed{position:fixed;border-bottom:1px solid rgba(0,0,0,0.2);  -webkit-backdrop-filter: blur(5px);backdrop-filter: blur(5px); background-color:rgba(221, 221, 221, 0.1);}
header.fixed h1 a, header.fixed .main_menu ul li a{color:#333}
header .inner{height:80px;display:flex;align-items:center;justify-content:space-between;padding-top:0;}
header h1 a{font-size:1.4rem;font-weight:600;color:#fff;}
header nav a{color:#fff;}
.main_menu ul{display:flex;}
.main_menu ul li a{font-size:1.125rem;min-height:80px;line-height:80px;padding:0 30px;}

#section1{position: relative;}
.bg-canvas{position: absolute;top:0;opacity:0.9;z-index: 1;}
.main {width:100%;min-height:100vh;position:relative;z-index: 1;}
.main .slide_txt {font-size:150px; font-weight:bold; letter-spacing:-18px; opacity:0.9;text-align:center;color:#fff;}
.main .slide_txt span {opacity:0;font-weight:500;}
.main .slide_txt.on span {animation-name: slide_txt_keyframes; animation-duration: 3s; animation-fill-mode: forwards;animation-iteration-count:infinite ;}
.main .slide_txt span:nth-child(2) {animation-delay:0.2s;}
.main .slide_txt span:nth-child(3) {animation-delay:0.4s;}
.main .slide_txt span:nth-child(4) {animation-delay:0.6s;}
.main .slide_txt span:nth-child(5) {animation-delay:0.8s;}
.main .slide_txt span:nth-child(6) {animation-delay:1.0s;}
.main .slide_txt span:nth-child(7) {animation-delay:1.2s;}
.main .slide_txt span:nth-child(8) {animation-delay:1.4s;}
@keyframes slide_txt_keyframes {
  0% {opacity:0;}
	100% {opacity:1;}
}
.scroll_animation {position:absolute;width:100%;bottom:40px;z-index:3;text-align:center;animation:upDown 2s ease-in Infinite Alternate;}
.scroll_icon span{display:block;text-align:center;color:rgba(255,255,255,0.8);font-size:0.875rem;font-weight:300;}
.scroll_icon span.scroll_icon{margin:10px auto;fill:#fff;width:26px;}
.scroll_icon span.scroll_icon img{width:100%;}

#section1 .cont{position: absolute;z-index: 2;width:100%;text-align:center;top:25%;}
.name{display:inline-block;font-size:1.2rem;color:rgba(255,255,255,0.8);line-height:1.6;margin-bottom:40px}
.git a{height:100%;padding:30px;}
.git a i{font-size:50px;color:#fff;opacity:0.7;}

h2.ti{text-align:left;font-size:5rem;font-weight:bold;padding:50px 0;max-width:1400px;}
#section2{min-height:100vh;position:relative;overflow: hidden;}
.about{display:flex;}
.meimg{max-width:450px;}
.meimg .swiper-slide span{display:inline-block;width:450px;height:550px;overflow: hidden;border-radius:12px;}
.meimg img{width:100%;}
.metxt{font-size:1rem;margin-left:80px;padding-top:40px}
.metxt strong{font-weight:500;}
.metxt strong b{font-size:1.5rem;font-weight:bold;margin-right:5px;}
.metxt strong span{display:block;font-size:1.125rem;margin:10px 0;font-weight:400;}
.welcome{position:absolute;height:700px;right:100px;top:150px;}
.welcome span{display:block;font-size:8rem;text-align:right;font-weight:bold;line-height:1;animation: scrollText 20s linear infinite;color:rgba(240, 240, 240, 0.2)}
@keyframes scrollText {
  0% {transform: translateY(150%);}
  100% {transform: translateY(-150%);}
}
.history .list-txt li{font-size:1.125rem}
.history .list-txt li + li{margin-top:1rem}
.history .list-txt li b{display:inline-block;width:170px;;font-weight:500; }

#section3{min-height:100vh;}
/* 스크롤바 설정*/
*::-webkit-scrollbar{width: 6px;height:6px;}
/* 스크롤바 막대 설정*/
*::-webkit-scrollbar-thumb{height:auto;background-color:#ddd;border-radius: 10px;}
/* 스크롤바 뒷 배경 설정*/
*::-webkit-scrollbar-track{background-color: rgba(0,0,0,0);}


@keyframes upDown {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}

.topBtn{display:none;color:#fff;font-weight:500;width:50px;height:50px;background:#2290c9;border:2px solid #2290c9;border-radius:100%;
position:fixed;right:50px;bottom:20px;z-index:999;display:flex;justify-content:center;align-items:center;}
.topBtn i{font-size:20px;color:#fff;}  